<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>BACKEND</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- Le styles -->
    <link href="/static/css/font-awesome.css" rel="stylesheet" />
    <link href="/static/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
    <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/static/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css">
    <link href="/static/css/custom-styles.css" rel="stylesheet" />
    <style>
      html
      {
        height:100%;
        margin:0;
      }
      body {
        height:100%;
        margin:0;
        padding-top: 50px; /* 60px to make the container go all the way to the bottom of the topbar */
        background-color: #222222;
      }
      body{font-family:'Microsoft YaHei';}
    </style>
    <style type="text/css">/*form表单error输出的css*/
        ul.errorlist {
            margin: 0;
            padding: 0;}
        .errorlist li {
            color: red;
            display: block;
            font-size: 12px;
            padding: 4px 5px;}
        .alert-error {
          color: #a94442;
          background-color: #f2dede;
          border-color: #ebccd1;
        }
        .alert-error hr {
          border-top-color: #e4b9c0;
        }
        .alert-error .alert-link {
          color: #843534;
        }
    </style>
    <script src="/static/js/jquery-2.1.3.min.js" type="text/javascript"></script>
    <script src="/static/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/static/js/jquery.metisMenu.js"></script>

  </head>

  <body>
        <nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
               <a class="navbar-brand" style="width: 260px;" href="">后台管理</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li id="li-0">
                   <a href="/backend/news/" class="top-navbar-nav">新闻</a>
                </li>
                <li id="li-1">
                   <a href="/backend/college/" class="top-navbar-nav">院校</a>
                </li>
                <li id="li-2">
                   <a href="/backend/ranking/" class="top-navbar-nav">榜单</a>
                </li>
                <li id="li-3">
                   <a href="/backend/professor/" class="top-navbar-nav">人才</a>
                </li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li>
                   <a>{{self.username}}</a>
                </li>
                <li class="dropdown">
                   <a href="#" class="dropdown-toggle" data-toggle="dropdown">操作<strong class="caret"></strong></a>
                  <ul class="dropdown-menu">
                      <li>
                        <a href="/admin/">进入admin</a>
                      </li>
                      <li>
                        <a href="/">进入前台</a>
                      </li>
                      <li class="divider"></li>
                      <li>
                         <a href="/admin/password_change/">修改密码</a>
                      </li>
                      <li>
                         <a href="/admin/logout/?next=/backend/" onclick="return confirm('确认退出登录？')">退出登录</a>
                      </li>
                  </ul>
                </li>
                <li>
                   <a> </a>
                </li>
              </ul>
            </div>
        </nav>

        <div id="wrapper">
            <nav class="navbar-default navbar-side" role="navigation">
                <div class="sidebar-collapse">
                    <ul class="nav " id="main-menu">
                        {% for url in urls %}
                            <li>
                                {% if url.drop_down %}
                                    <a href={{ url.url }}
                                        {% if url.active == True %}
                                            class="active-menu"
                                        {% endif %}
                                    >&nbsp;&nbsp;{{ url.name }}
                                        <span class="fa arrow"></span>
                                    </a>
                                    <ul class="nav nav-second-level">
                                        {% for second_url in url.drop_down %}
                                            <li>
                                            {% if second_url.drop_down %}
                                                <a href={{ second_url.url }}>&nbsp;&nbsp;{{ second_url.name }}
                                                    <span class="fa arrow"></span>
                                                </a>
                                                <ul class="nav nav-third-level">
                                                {% for third_url in second_url.drop_down %}
                                                    <li>
                                                        <a href={{ third_url.url }}>&nbsp;&nbsp;{{ third_url.name }}</a>
                                                    </li>
                                                {% endfor %}
                                                </ul>
                                            {% else %}
                                                <a href={{ second_url.url }}>&nbsp;&nbsp;{{ second_url.name }}</a>
                                            {% endif %}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    <a {% if url.active == True %}
                                            class="active-menu"
                                       {% endif %}
                                    href={{ url.url }}>&nbsp;&nbsp;{{ url.name }}</a>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </nav>
            <script>
                $('#main-menu').metisMenu();
            </script>



            <div id="page-wrapper" >
                <div id="page-inner">
                    <div id="messages">
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-{{message.tags}}">
                                    <a class="close" data-dismiss="alert">×</a>
                                    {{message|safe}}
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    {% block content %}
                    {% endblock %}
                </div>
            </div>

        </div>

  </body>
</html>