{% extends "backend/base.html" %}


{% block content %}

<link rel="stylesheet" href="/static/css/editormd.css" />
<script src="/static/js/distpicker.data.js"></script>
<script src="/static/js/distpicker.js"></script>
<script src="/static/js/editormd.js"></script>
<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">
            添加院校 <small>填写全部信息</small>
        </h1>
    </div>
</div>
<!-- /. ROW  -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <form role="form" method="post">
                            {% csrf_token %}
                            {% for field in fields.char %}
                                <div class="form-group">
                                    <label>{{ field.name }}</label>
                                    <input class="form-control" name="{{ field.field }}" value="{{ field.value }}">
                                </div>
                            {% endfor %}
<!-- 选择相关学校 -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <!-- 按钮触发模态框 -->
                                    <div class="btn btn-default" data-toggle="modal" data-target="#collegeModal" style="margin: 0">
                                        选择相关学校
                                    </div>
                                </div>
                                <div class="panel-body" style="padding-bottom: 0;">
                                    <div id="college_container">
                                        {% for college in fields.college %}
                                            <div class="alert alert-tag" style="display:inline-block" data-tag_id="{{ college.id }}">
                                                <a class="close" data-dismiss="alert">×</a>
                                                {{ college.name_cn }}
                                            </div>
                                        {% endfor %}
                                    </div>

                                    <!-- 模态框（Modal） -->
                                    <div class="modal fade" id="collegeModal" tabindex="-1" role="dialog" aria-labelledby="collegeModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                        &times;
                                                    </button>
                                                    <h4 class="modal-title" id="collegeModalLabel">
                                                        添加相关学校
                                                    </h4>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="distpicker">
                                                        {% for field in fields.nation %}
                                                            <div class="form-group">
                                                                <label for="exampleInputText">{{ field.name }}</label>
                                                                <select class="form-control" id="id_{{ field.field }}"
                                                                        name="{{ field.field }}" onchange="get_colleges_by_nation()"></select>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="exampleInputText">院校列表  <small style="color: grey"> 按住ctrl多选</small></label>
                                                        <select multiple="" size="10" id="college_picker" class="multiple form-control">
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                                                    </button>
                                                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="select_colleges()">
                                                        提交更改
                                                    </button>
                                                </div>
                                            </div><!-- /.modal-content -->
                                        </div><!-- /.modal -->
                                    </div>
                                </div>
                            </div>
<!-- end选择相关学校 -->

<!-- 选择标签 -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <!-- 按钮触发模态框 -->
                                    <div class="btn btn-default" data-toggle="modal" data-target="#myModal" style="margin: 0">
                                        选择新闻标签
                                    </div>
                                </div>
                                <div class="panel-body" style="padding-bottom: 0;">
                                    <div id="tag_container">
                                        {% for tag in fields.many_to_many %}
                                            {% if tag.checked %}
                                            <div class="alert alert-tag" style="display:inline-block" data-tag_id="{{ tag.id }}">
                                                <a class="close" data-dismiss="alert">×</a>
                                                {{ tag.title }}
                                            </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>

                                    <!-- 模态框（Modal） -->
                                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                        &times;
                                                    </button>
                                                    <h4 class="modal-title" id="myModalLabel">
                                                        添加新闻标签
                                                    </h4>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="form-group">
                                                        <label for="exampleInputText">{{ fields.tag.name }}<small style="color: grey"> 按住ctrl多选</small></label>
                                                        <select multiple="" class="multiple form-control" id="id_{{ fields.tag.field }}"
                                                                size="{{ fields.tag.size }}" name="{{ fields.tag.field }}">
                                                            {% for tag in fields.many_to_many %}
                                                                <option value="{{ tag.id }}" data-title="{{ tag.title }}">{{ tag.title }}</option>
                                                            {% endfor %}
                                                            <option></option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                                                    </button>
                                                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="select_tags()">
                                                        提交更改
                                                    </button>
                                                </div>
                                            </div><!-- /.modal-content -->
                                        </div><!-- /.modal -->
                                    </div>

                                </div>
                            </div>
                            {% for field in fields.text %}
                                <div class="form-group">
                                    <label>{{ field.name }}</label>
                                    <textarea class="form-control" rows="3" name="{{ field.field }}">{{ field.value }}</textarea>
                                </div>
                            {% endfor %}
                            <div id="test-editormd">
                                <textarea id="test-editormd-markdown-doc"
                                          name="test-editormd-markdown-doc" style="display:none;">{{ fields.md_doc }}</textarea>
                            </div>
                            {% for field in fields.boolean %}
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="" {{ field.value }} name="{{ field.field }}">{{ field.name }}
                                        </label>
                                    </div>
                                </div>
                            {% endfor %}
                            <div id="test-editormd"></div>
                            <input type="submit" value="提交" class="btn btn-default" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
var testEditor;

$(function() {
    $(function(){
        testEditor = editormd("test-editormd", {
            width: "100%",
            height: 740,
            path : '/static/lib/',
            theme : "default",
            previewTheme : "default",
            editorTheme : "default",
            codeFold : true,
            //syncScrolling : false,
            saveHTMLToTextarea : true,    // 保存 HTML 到 Textarea
            searchReplace : true,
            //watch : false,                // 关闭实时预览
            htmlDecode : "style,script,iframe|on*",            // 开启 HTML 标签解析，为了安全性，默认不开启
            //toolbar  : false,             //关闭工具栏
            //previewCodeHighlight : false, // 关闭预览 HTML 的代码块高亮，默认开启
            emoji : true,
            taskList : true,
            tocm            : true,         // Using [TOCM]
            tex : true,                   // 开启科学公式TeX语言支持，默认关闭
            flowChart : true,             // 开启流程图支持，默认关闭
            sequenceDiagram : true,       // 开启时序/序列图支持，默认关闭,
            //dialogLockScreen : false,   // 设置弹出层对话框不锁屏，全局通用，默认为true
            //dialogShowMask : false,     // 设置弹出层对话框显示透明遮罩层，全局通用，默认为true
            //dialogDraggable : false,    // 设置弹出层对话框不可拖动，全局通用，默认为true
            //dialogMaskOpacity : 0.4,    // 设置透明遮罩层的透明度，全局通用，默认值为0.1
            //dialogMaskBgColor : "#000", // 设置透明遮罩层的背景颜色，全局通用，默认为#fff
            imageUpload : true,
            imageFormats : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
            imageUploadURL : "{{ news_image_upload_url }}",
            onload : function() {
                console.log('onload', this);
                //this.fullscreen();
                //this.unwatch();
                //this.watch().fullscreen();

                //this.setMarkdown("#PHP");
                //this.width("100%");
                //this.height(480);
                //this.resize("100%", 640);
            }
        });
    });
 });
function getCookie(name) {
    var arr,reg=new RegExp("(^| )"+name+"=([^;]*)(;|$)"); //正则匹配
    if(arr=document.cookie.match(reg)){
      return unescape(arr[2]);
    }
    else{
     return null;
    }
}


function get_colleges_by_nation() {
    var province = $("#id_province").val();
    var city = $("#id_city").val();
    var formData = new FormData($('#excel_upload')[0]);
    formData.append("province", province);
    formData.append("city", city);
    formData.append("csrfmiddlewaretoken", getCookie('csrftoken'));
    $.ajax({
        type: "post",
        url: "{{ get_colleges_by_nation_url }}",
        data: formData,
        processData: false,
        contentType: false,
        dataType:"json",
        success: function(data)  {
            var college_picker = $("#college_picker");
            college_picker.empty();
            for(var i=0;i<data.data.length;i++){
                college_picker.append("<option value='" +
                    data["data"][i]["id"] + "' data-name_cn='"+ data["data"][i]["name_cn"] +"'>"
                    + data["data"][i]["name_cn"] + "</option>");
            }
        }
    });
}

function select_colleges() {
    var colleges = $('#college_container');
    var colleges_map = {};
    for(var i=0;i<colleges.children().length;i++) {
        colleges_map[colleges.children()[i].dataset["college_id"]] = 1;
    }
    $("#college_picker option:selected").each(function() {
        var name_cn = $(this).attr("data-name_cn");
        var _id = $(this).val();
        if (!colleges_map.hasOwnProperty(_id)) {
            colleges.append('<div class="alert alert-tag" ' +
                'style="display:inline-block;" ' +
                'data-college_id="' + _id + '"> ' +
                '<a class="close" data-dismiss="alert">' +
                '×</a>' + name_cn + '</div>\n');
        }
    });
    var colleges_list = [];
    for(i=0;i<colleges.children().length;i++) {
        colleges_list.push(colleges.children()[i].dataset["college_id"]);
    }
    $("#id_colleges").val(colleges_list);
}

function select_tags() {
    var tags = $('#tag_container');
    var tags_map = {};
    for(var i=0;i<tags.children().length;i++) {
        tags_map[tags.children()[i].dataset["tag_id"]] = 1;
    }
    $("#id_{{ fields.tag.field }} option:selected").each(function() {
        var title = $(this).attr("data-title");
        var _id = $(this).val();
        if (!tags_map.hasOwnProperty(_id)) {
            tags.append('<div class="alert alert-tag" ' +
                'style="display:inline-block;" ' +
                'data-tag_id="' + _id + '"> ' +
                '<a class="close" data-dismiss="alert">' +
                '×</a>' + title + '</div>\n');
        }
    });
    var tags_list = [];
    for(i=0;i<tags.children().length;i++) {
        tags_list.push(tags.children()[i].dataset["tag_id"]);
    }
    $("#id_tags").val(tags_list);
}

$(".distpicker").distpicker({
    autoSelect: false
});
</script>
{% endblock %}